.dash-right {
    font-weight: 300;
    margin: 1rem;
    display: grid;
    grid-column: 1fr;
    grid-row: repeat(2, 50%);
    color: $color-grey;

    &-goals { 
        margin-left: 2rem;
        @include textshad0(rgba(209, 202, 202, 0.459));
        font-weight: 600;
        
    }
}

.right-back {
    background-color: #83bd8a;
    filter: drop-shadow(3px 5px 1px #b8bbb785);
    color: rgb(8, 10, 9);

}




.todo-list {
    list-style: none;
}

.goals-contain {
    justify-self: flex-start;
    align-self: center;
    display: flex;
    cursor: pointer;
    & p {
        font-size: 3rem;
        align-self: center;
        font-weight: 450;

    }
    
}

.goals {
    transition: all .4s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    


    &-contain {
        border: 1.5px solid #64675e09;
        border-radius: .8rem;
        text-align: center;
        transition: all .4s;
        width: 15rem;
        filter: drop-shadow(3px 1px 1px #b8bbb742);
        transition: all .4s;



    }
    & :hover.goals-contain{

        transition: all .4s;


    }
    & :hover > #goal {
        color: $color-light-1;
        transition: all .4s;

        
    }
}

.bulb {
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0;
    margin: 0;
    align-self: flex-start;
    margin-left: .7rem;
}

.btn-prod {
    left: 3rem;
    color: rgb(255, 255, 255);
    font-family: $font-3;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: .5rem;

    &:hover {
        color: $color-light-1;
    }

}
.todo-item {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin: 2.5rem 0rem;
    margin-right: 1rem;
    padding: 1rem 1rem;
    background-color: #42815052;
    color: rgb(255, 255, 255);
    border-radius: .6rem;
    transition: all .2s;
    filter: drop-shadow(2px 1px .5px #06070610);




    &:hover {
        background-color: white;
        color: $color-orange;
        cursor: pointer;
        transition: all .2s;
        -webkit-text-stroke: none

    }


}

.todo-ammount {
    font-weight: 300;
    font-size: 1.8rem;
    font-family: $font-2;
    justify-self: flex-end;

}

.todo-title {
    font-family: $font-2;

}

.goal-modal {
    display: grid;
    font-size: 5rem;
    width: 48vw;
    height: 55vh;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-row-gap: 2rem;

    &--upper {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        margin-top: -5rem;

        &--inputandbutton {
            display: flex;
            align-items: center;

            button {
                position: relative;
                margin-left: 7rem;
                top: 1rem;
            }
        }
    }

    &--lower {
        grid-row: 2 / 5;
        grid-column: 1 / 3;
        margin-top: 0rem;
        position: relative;
        top: -6vh;
        display: flex;
        flex-direction: column;

        h3 {
            position: relative;
            top: -3rem;
            
            
        }
        


    }

    &--input {
        height: 5rem;
        width: 40vw;
        


    }


    &--head {
        justify-self: flex-start;
        align-self: flex-start;
        background-color: black;


        &--1 {
            font-size: 3rem;
            font-family: $font-3;
            width: 50%;
            display: flex;


            & p {
            font-size: 3rem;
            font-family: $font-3;
            width: 24rem;
            padding: 0;

            }


        }
        &--2 {
            font-family: $font-3;
            border-bottom: 1px solid rgb(160, 144, 144);
            height: min-content;
            width: max-content;
            font-weight: 500;

        }
    }


    &--list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-width: 110%;
        min-height: 70%;
        position: relative;

        // overflow-y: scroll;

        
    }
}
.goal-item{
    color: rgb(34, 23, 15);
    // background-color: rgba(122, 36, 36, 0.39);
    cursor: pointer;
    position: relative;
    width: 18em;
    height: 15em;

    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: .3rem;
    margin: .5rem .2rem;

   

    & p {
        background-color: rgba(81, 82, 81, 0.884);
        display: flex;

        height: 50%;
        width: 100%;
        font-weight: 3rem;

        align-items: center;
        padding: .3rem .7rem;
        // height: 100%;
        width: 100%;


        
        // make padding higher

        filter: drop-shadow(5px 3px 1px #eaece86c);

        span {
            color: $color-white;
            border-radius: 1px;
            justify-self: center;
            font-size: 1.5rem;
            width: max-content;
            margin-left: .5rem;
            font-family: $font-3;
            letter-spacing: .2rem;
            padding:  2rem 3rem;
            position: relative;


        }


        img {
            height: 2rem;
            width: 2rem;
            justify-self: flex-start;
            margin-right: 1rem;
            position: absolute;

        }



        &:hover {
            background-color: rgba(144, 144, 146, 0.5);
            transition: all .2s;

            span {
                color: rgba(14, 13, 13, 0.884);
                font-weight: 600;

            }

        }


    }

    &--chose {
        color: $color-white;

        & p {
            background-color: $color-orange;
            transition: all .3s;



            &:hover {
                background-color: rgb(228, 96, 35);
                color: white;
                transition: all .3s;
            }

        }
    }
}
.trophy-lottie {

    justify-self: flex-start;
    align-self: flex-start;




}
.btn-goal {
    height: 5rem;
    justify-self: flex-start;
    align-self: flex-start;
    font-family: $font-2;
    margin-top: 3rem;

    &:hover {
        color: $color-secondary-2;
    }


}

