
$color-primary: #f5f5f07a;
$color-white: #f5f5f0;
$color-secondary: #a4d0ad;
$color-secondary-2: #90cb97;
$color-secondary-3: #a2cd98;
$color-orange: #de8132;
$color-brown:#cab36b;
$color-grey: #64675e;
$color-dark: #344139;
$color-light-1: #c46035ec;
$color-blue: #1C4971;
$color-blue-2: #1B436B;

$color-red-1: #F14A34;
$color-red-2: #CB372A;
$color-green-1: #22BCA9;
$color-pink-1: #F23A61;


$bp-largest: 75em; // 1200px  
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px

$font-1: 'Baloo Bhaina 2';
$font-2: 'Fira Sans';
$font-3: 'Didact Gothic';

@mixin NewDropdown($backColor) {
    @include custom-dropdown($backColor);

    grid-column: 5 / span 1;
    grid-row: 1 / 2;
    align-self: center;
    margin-top: 4.5rem;
    min-width: 35rem;
    position: relative;
    transform: translateX(-50%);
    z-index: 5;
    border-radius: .5rem;
    font-family: $font-2;


    border: 1px solid #64675e57;

    
    &:after {
        content: "\f078";
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        padding: 16px 1.7rem 15px 19px;
        border-left: 1px dotted $color-grey;
        position: absolute;
        top: .8rem;
        height: 3.2rem;
        right: 0;
        font-size: 1.1em;
        z-index: 10;
        color: $color-grey;
        transition: none;
        pointer-events: none;
        
    }
    label {
        color: $color-grey;
        letter-spacing: .1em;
        text-transform: uppercase;
        font-size: 1.6em;
        padding: 1.1rem 2.2rem;
        margin-bottom: 5px;
        border-radius: .5rem;
        font-family: $font-2;

    } 
    &.active {
        &:after {
            border-radius: 0rem;

            visibility: hidden;
            
        }
        input[type=radio]:checked + label {
            color: #000;
            &:hover {
                color: #fff;
            }
        }
        label {
            &:hover {
                background-color: #000;
                color: $color-secondary-2;
                border-radius: 0rem;


            }
        }
        + [id=customBackground] {
            filter: blur(3px);
            &:after {
                visibility: visible;
                opacity: .5;
            }
        }
    }
}


@mixin beforeTrick{
    content: '';
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
}
@mixin textshad0($color){

    text-shadow: .1rem .3rem .6rem $color;
}

@mixin mouseover($color, $fontColor) {

    background-color: $color;
    font-weight: 600;
    color: $fontColor;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 999;
    filter: drop-shadow(-2px -3px 1px #ebe7e8b2);
    filter: drop-shadow(1px 2px 0px #f1f1f14d);
}

@mixin renders {
    position: absolute;
    left: -2rem;
    font-size: 8rem;
    color: grey;
}

.app-renders {
    @include renders;
    top: 23vh;

}
.auth-renders {
    @include renders;
    top: 23vh;

    left: 8vw;
    z-index: 999;
}

.modal-renders {
    @include renders;
    left: 8vw;
    top: 50vh;
    z-index: 999;
    color: blue;
}

html {
    box-sizing: border-box;


}

body {
    height: 100vh;
    max-width: 100%;
    background-color: $color-primary;
    font-size: 2.5rem;
    box-sizing: inherit;
    margin: 0;
    overflow-x: hidden;

}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Baloo Bhaina 2';
    font-weight: 500;
    font-size: 62.5%;
}




.container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: repeat(3, min-content);
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;


}



.sidebar {
    background-color: $color-primary;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 3vw 17vw 20vw 60vw;
    border-bottom: .5px solid #64675e8e;
    position: fixed;
    max-width: 100%;
    z-index: 8;


}


.sidebar-links {
    grid-column: 3 / 5;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    
}
.sidebar-logo {
    grid-column: 2 / 3;
    padding: 0;
    margin-top: 0;

}

.todo {
    background-color: $color-primary;
    grid-column: 1 / span 4;
    grid-row: 2 / 5;

}
.dashboard-container {
    background-color: $color-primary;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
    grid-template-rows: 80vh 10vh;
    max-width: 100%;

}

.fetti {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: .3;
}
@media only screen and (min-width: 1200px) {
    .fetti {
        transform: translateX(25rem);
    }
}
@media only screen and (min-width: 1700px) {
    .fetti {
        transform: translateX(15rem);
    }
}
@media only screen and (min-width: 2000px) {
    .fetti {
        transform: translateX(35rem);
    }
}
@media only screen and (min-width: 2300px) {
    .fetti {
        transform: translateX(50rem);
    }
}

.lotfet {
    grid-row: 1 / 4;
    grid-column: 1 / 4;
    position: fixed;
    top: 0;
    z-index: 0;
    opacity: .3;
    transform: translateX(-34rem);

}


.inv {
    border-color: $color-orange;
}

.val {
    border-color: rgba(0,0,0,.2);
}

@media only screen and (max-height: 650px) and (min-width: 900px) {
    .container {
        grid-template-rows: 10vh repeat(6, 39.8vh) repeat(3, 100vh);
        grid-template-columns: repeat(3, min-content);
    }
    .dashboard-container {
        grid-row: 2 / 8;
        grid-template-columns: 60vw 40vw;
        grid-template-rows: 70vh .3fr 1fr 1.5fr ;
        grid-gap: 1rem;
        max-width: 100%;

    }
    
}


@media only screen and (max-width: 750px) {
    .container {
        grid-template-rows: 8vh repeat(6, 39.8vh) repeat(3, 100vh);
        grid-template-columns: repeat(3, min-content);
    }

    .dashboard-container {
        grid-row: 2 / 8;
        grid-template-columns: 60vw 40vw;
        grid-template-rows: 70vh .3fr 1fr 1.5fr ;
        grid-gap: 1rem;
        max-width: 100%;

    }

    

    .todo {
        grid-row: 1 / span 15;
        grid-column: 1 / span 2;
    }
    .todo-contained {
        width: 88vw;
    }


    .heading-todo {
        grid-column: 1/4;
        justify-self: flex-start;
        transform: translateX(-10rem);
    }
    .urgency {
        margin-bottom: 40rem;
        margin-left: 8rem;
    }

    

  }
  @media only screen and (max-width: 350px) {
    .dashboard-container {
        grid-template-rows: 85vh .3fr 1fr 1.5fr ;
    }
  }
.loading {

    z-index: 9999;
    position: fixed;

    bottom: 35vh;
    right: 33vw;


}
.loading-anim {

    width: 7rem;
    z-index: 9999;
    position: relative;



    
    & svg {
        position: fixed;
        height: 7rem;
        width: 7rem;
        z-index: 9999;
        bottom: 12rem;
        right: 0rem;
    }
}

