.cal-header {
    display: flex;
}

.cal-modal{
    height: 97vh;
    top: 2rem;

}

.calendar-modal {

    font-size: 5rem;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #f9faf95b;
    position: relative;
    z-index: 5;
    overflow: visible;

    &--btn {
        margin: 0 1.4rem;
        border-radius: .2rem;
        padding: 0 2rem;
        height: 3rem;
        font-size: 1.6rem;
        color: $color-grey;
        font-family: $font-3;

        &:hover{
            color: $color-light-1;
        }
    }

    &--head {
        width: 40vw;
        font-family: $font-3;
        color: $color-grey;
        position: relative;
        z-index: 99999;
        margin-bottom: 2rem;
    }
    &--days {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 13.28%);
        grid-template-rows: repeat(5, 14.66%);
        grid-column-gap: 1rem;
        grid-row-gap: .5rem;
        height: 100%;
        background: cover;
        width: 52vw;
        margin-left: 3rem;
        position: relative;
        z-index: 5;
        color: $color-grey;


        &--oftheweek {
            font-family: $font-3;
            position: relative;
            height: 1rem;
        }


    }

    &--event-list {
        display: flex;
        flex-direction: column;
        margin-top: 1.7rem;

    }

    &--event-item{
        margin: 0 .7rem;
        margin-right: 1rem;
        margin-top: .5rem;
        font-size: 1.7rem;
        border: 1px solid rgba(186, 196, 185, 0.384);
        display: flex;
        align-content: center;
        justify-content: flex-start;
        font-family: $font-3;
        font-weight: 600;
        color: rgb(41, 41, 41);

        img {
            height: 25%;
            width: 20%;
            position: relative;
            top: .5rem;
        }

        &--btn {
            background: none;
            outline: none;
            list-style: none;
            border: none;
            width: 100%;
            display: flex;
            justify-content: flex-start;

            button {
                font-size: 1rem;
                font-family: $font-3;
                font-weight: 600;
                color: rgb(73, 70, 70);
                &:hover {
                    color: $color-light-1;
                }

            }

            
        }

    }

    &--dayedit {
        height: 50vh;
        width: 19vw;

        background-color: #ffffff6c;
        position: absolute;
        z-index: 99999;
        border-radius: .3rem;
        display: flex;
        flex-direction: column;
        right: 16.5vw;
        top: 10rem;
        overflow: hidden;
        &:after {
            content: '';
            display: inline-block;
            height: 100%;
            width: 100%;
            filter: drop-shadow(1px 2px .5px rgba(37, 37, 100, 0.5));

        }

        &--head {
            font-size: 3.5rem;
            display: flex;
            background-color: #00000098;
            height: 5rem;
            font-family: $font-3;
            width: 100%;
            align-items: center;

            h1 {
                color: white;
                font-family: $font-3;
                justify-self: flex-start;
                font-weight: 400;
                margin-left: 2rem;

            }
        }

        &--form {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
        &--input {
            
            height: 4.5rem;
            margin: 2rem 1rem;
            width: 80%;
            border-radius: 0.4rem;

            
            &--dropdown {
                background-color: white;

                right: .5rem;
                // top: 5.8rem;
                position: relative;
                transform: scale(.9);
                z-index: 999;


                &--label {

                }
            }
        }
        &--btn {
            margin: 2.6rem 2.2rem;
            font-size: 1.3rem;
            padding: 1rem 2.5rem;
            color: $color-grey;
            font-family: $font-3;
            background-color: white;
            margin-top: 7rem;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &--dayitem {
        position: relative;
        height: 12.3vh;
        width: 100%;
        background-color: #82d38b86;
        border: 1px solid #243b0c28;
        border-radius: .2rem;
        margin-top: -7rem;
        z-index: 5;
        overflow: visible;
        display: flex;


        &:hover {
            background-color: #de82324f;
            transition: all .3s;
        }


    }

    &--text {
        color: black;
        font-family: $font-3;

    }

    


}

.cal-cancel {
    background: none;
    justify-self: flex-end;
    margin-top: 1.7rem;
    transform: translateX(43rem);
    img {
        height: 2rem;
        width: 2rem;
    }
}